In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [90]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [241]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data['profit'] = data['revenue'] - data['budget']
data_new = data.explode('production_companies')
data_1 = data_new[data_new.production_companies == 'Warner Bros']
grouped = data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(grouped)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [5]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data2 = data[data['production_companies'].str.contains('Warner Bros')]
grouped = data2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(grouped)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [10]:
import pandas as pd
import collections 
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')

collections.Counter(data['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Предобработка

In [12]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [15]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 

# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [0]:
# тут пишем ваш код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data = data[data.budget == data.budget.max()] #фильтруем датасет по макс бюджету
display(data)

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [16]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [0]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data = data[data.runtime == data.runtime.max()] #фильтруем по макс времени
display(data)

# 3. Какой из фильмов самый короткий (в минутах)?

In [17]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data[data.runtime == data.runtime.min()]#фильтруем по мин времени

# 4. Какова средняя длительность фильмов?

In [18]:
answers['4'] = 110

In [ ]:
data.describe()

# 5. Каково медианное значение длительности фильмов?

In [19]:
answers['5'] = 107

In [ ]:
data.describe()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [20]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data[data.profit == data.profit.max()]#фильтруем по макс прибыли

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data[data.profit == data.profit.min()]#фильтруем по мин прибыли

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1. 1478'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data[data.revenue > data.budget].count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data[data['revenue'] == data[(data.release_year==2008)].revenue.max()]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data[data['profit'] == data[(data.release_year<=2014) & (data.release_year>=2012)].profit.min()]

# 11. Какого жанра фильмов больше всего?

In [25]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [26]:
answers['12'] = '1. Drama'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data['profit'] = data['revenue'] - data['budget']
data_explode_genres = data.explode('genres')
data_profit = data_explode_genres[data_explode_genres.profit > 0]
group_genres = data_profit['genres'].value_counts()
display(group_genres)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [27]:
answers['13'] = '5. Peter Jackson'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['director'] = data['director'].apply(lambda x:x.split('|'))
data_director_new = data.explode('director')
grouped_director = data_director_new.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
display(grouped_director)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [28]:
answers['14'] = '3. Robert Rodriguez'

In [ ]:
import pandas as pd
import collections
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data_new = data[data.genres.str.contains('Action')]
collections.Counter(data_new['director'].str.cat(sep = '|').split('|')).most_common()

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [29]:
answers['15'] = '3. Chris Hemsworth'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data_new = data[(data.release_year == 2012) & (data.revenue > data.revenue.mean())]
data_new['cast'] = data_new['cast'].apply(lambda x:x.split('|'))
data_new_cast = data_new.explode('cast')
data_1 = data_new_cast.cast.value_counts()
display(data_1)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [30]:
answers['16'] = '3. Matt Damon'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data_new = data[data.budget > data.budget.mean()]
data_new['cast'] = data_new['cast'].apply(lambda x:x.split('|'))
data_new_cast = data_new.explode('cast')
data_1 = data_new_cast.cast.value_counts()
display(data_1)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [31]:
answers['17'] = '2. Action'

In [ ]:
import pandas as pd
import collections
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data_new = data[data.cast.str.contains('Nicolas Cage')]
collections.Counter(data_new['genres'].str.cat(sep = '|').split('|')).most_common()

# 18. Самый убыточный фильм от Paramount Pictures

In [32]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data['profit'] = data['revenue'] - data['budget']
data_new = data.explode('production_companies')
data_1 = data_new[data_new.production_companies == 'Paramount Pictures']
grouped = data_1.groupby(['original_title'])['profit'].sum().sort_values(ascending=True)
display(grouped)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [33]:
answers['19'] = '5. 2015'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
grouped = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
display(grouped)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [35]:
answers['20'] = '1. 2014'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data2 = data[data['production_companies'].str.contains('Warner Bros')]
grouped = data2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(grouped)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [36]:
answers['21'] = '4. Сентябрь'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
grouped = data.groupby(['month'])['original_title'].count().sort_values(ascending=False)
display(grouped)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [37]:
answers['22'] ='2. 450'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.loc[(data.month == '6') | (data.month == '7') | (data.month == '8')]
grouped = data.groupby(['month'])['original_title'].count().sort_values(ascending=False)
display(grouped)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [38]:
answers['23'] = 'Peter Jackson'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.loc[(data.month == '1') | (data.month == '2') | (data.month == '12')]
grouped = data.groupby(['director'])['original_title'].count().sort_values(ascending=False)
display(grouped)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [39]:
answers['24'] = '5. Four By Two Productions'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['title_len'] = data['original_title'].apply(lambda x:len(x))
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data = data.explode('production_companies')
grouped = data.groupby(['production_companies'])['title_len'].mean().sort_values(ascending=False)
display(grouped)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [40]:
answers['25'] = '3. Midnight Picture Show'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['overview'] = data['overview'].apply(lambda x:x.split(' '))
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data = data.explode('production_companies')
data['overview_len'] = data['overview'].apply(lambda x:len(x))
grouped = data.groupby(['production_companies'])['overview_len'].mean().sort_values(ascending=False)
display(grouped)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [41]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [ ]:
import pandas as pd
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
best_percent = data.sort_values(by='vote_average').tail(int(data.original_title.count()/100)).original_title
display(best_percent)
#не знал как сделать - подсмотрел в слаке...

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [ ]:
import pandas as pd
import collections 
data = pd.read_csv('/Users/Tony/Anton test/movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')

collections.Counter(data['pairs']).most_common(1)

ВАРИАНТ 2

# Submission

In [44]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'27': '5. Daniel Radcliffe & Rupert Grint',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': 'Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave'}

In [45]:
# и убедиться что ни чего не пропустил)
len(answers)

27